html {overflow-y:scroll;}
body {
	direction: rtl; margin: 10px 70px;;
}

.panel {
	width: 300px;
	height: 200px;
	float: right;
	margin: 15px;
}

.panel:nth-child(even) {background:#FFFAF3;}
.panel:nth-child(odd) {background:#F3F9FF;}

input.search{
	width: 140px;
	font-weight: bold;
	font-size: 15px;
	padding-right: 6px;
	display: inline-block;
}

img.logo {

	border: 1px solid #eeeeee;
	float: left;
	position: relative;
	bottom: 58px;
}
span.stat{
	vertical-align: bottom;
	padding-right: 10px;
	font-weight: bold;
}
hr{
	margin-top: 15px;
}
ul.dropdown-menu{
	margin: 2px -20px 0
}
table{
	width: 100%;
	margin-top: 11px;
}
.progress{
	margin-bottom: 5px;
	margin-top: 5px;
}

