
		<h1>שביל ישראל</h1>

						<input class="search" ng-model="search"  
		placeholder="חיפוש משתתפים" typeahead="participant.name for participant in participants | filter:$viewValue | limitTo:4">
		<img src="img/logo.png" class="logo">
<hr>


		<div ng-show="stat.show" style="margin-bottom: 15px;">
			<h2 >המקטעים של {{search}}</h2>
			<span>מרחק מצטבר {{stat.length}} ק"מ  ({{stat.lengthPercent}}% משביל ישראל).</span>
		</div>
		<h2 ng-hide="stat.show"> המקטעים שעברנו </h2>

		<p ng-show="stat.length==0">המשתתף לא נמצא.</p>
		<p ng-hide="loaded"> טוען נתונים...  </p>


<div class="row">
	<div class="col-xs-4">
		<table class="table-striped">
			<tr ng-repeat="(key,participant) in participants  | orderBy:'length':true"><td><strong> {{participant.name}}</strong></td><td>{{participant.length}} ק"מ</td>
			<td style="width: 40%;">
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="{{participant.lengthPercent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{participant.lengthPercent}}%;">
				    {{participant.lengthPercent}}%
				  </div>
				</div>
			</td>
			</tr>
		</table>
	</div>
	<div class="col-xs-8">

		<div class="panel panel-default" ng-repeat="section in (filteredSection = (sections | clean | participants:search))">
		  <div class="panel-heading"><b><span class="lead">{{section.section}}.</span> מ{{section.startLocation}} ל{{section.endLocation}}</b></div>
		  <div class="panel-body">
			<b>משתתפים </b>{{section.participants}}. <br/>
			<b>מרחק המקטע </b>{{section.length}} ק"מ  ({{section.lengthPercent}}). <br/>
			<b>מרחק מצטבר </b>{{section.lengthSum}} ק"מ ({{section.lengthSumPercent}}). <br/>
			
			<span ng-show="{{section.partParticipants != ''}}">
			<b>היו בחלק מהקטע </b>{{section.partParticipants}}.
		    </span>
		  </div>
		</div>

</div>
</div>