
		<h1>שביל ישראל</h1>
		<img class="logo" src="img/logo.png">
		<hr>
		<input class="search" ng-model="search.participants"  
		placeholder="שם משתתף">
		<span ng-show="stat.show"> עבר\ה מרחק מצטבר של {{stat.length}} ק"מ  ({{stat.lengthPercent}}% משביל ישראל).</span>
		<hr>
		<div class="panel panel-default" ng-repeat="section in (filteredSection = (sections | clean | filter:search))">
		  <div class="panel-heading"><b>מקטע מספר {{section.section}} </b></div>
		  <div class="panel-body">
			במקטע השתתפו <b>{{section.participants}}</b> והלכו {{section.length}} ק"מ
			({{section.lengthPercent}} משביל ישראל).
			המרחק המצטבר שעברנו בשביל ישראל במקטע זה  הוא {{section.lengthSum}} ק"מ
			({{section.lengthSumPercent}} מהשביל).
			<span ng-show="{{section.partParticipants != ''}}">
			יש לציין כי <b>{{section.partParticipants}}</b> השתתפו רק בחלק מהשביל.
		    </span>
		  </div>
		</div>

