
		<h1>שביל ישראל</h1>
	
				<input class="search" ng-model="search"  
		placeholder="שם משתתף" typeahead="participant for participant in participants | filter:$viewValue | limitTo:4">
		<hr>
		<div ng-show="stat.show">
			<h2 >המקטעים של {{search}}</h2>
			<span>מרחק מצטבר של {{stat.length}} ק"מ  ({{stat.lengthPercent}}% משביל ישראל).</span>
		</div>
		<h2 ng-hide="stat.show"> המקטעים שעברנו </h2>
		<div class="panel panel-default" ng-repeat="section in (filteredSection = (sections | clean | participants:search))">
		  <div class="panel-heading"><b>מקטע מספר {{section.section}} </b></div>
		  <div class="panel-body">
			במקטע השתתפו <b>{{section.participants}}</b> והלכו {{section.length}} ק"מ
			({{section.lengthPercent}} משביל ישראל).
			המרחק המצטבר שעברנו בשביל ישראל במקטע זה  הוא {{section.lengthSum}} ק"מ
			({{section.lengthSumPercent}} מהשביל).
			<span ng-show="{{section.partParticipants != ''}}">
			יש לציין כי <b>{{section.partParticipants}}</b> השתתפו רק בחלק מהשביל.
		    </span>
		  </div>
		</div>

